body{
    background-color:antiquewhite;
    color:rgb(0, 48, 91);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
h1{
    text-align: center;
}
.imagem{
    text-align: center;
    
}