body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  padding: 0  5%;
  height: 70;
  color: white;

}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a{
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover{
  color: #3498db;
}

@keyframes fadeInDown {
  from {
    opacity: 1;
    transform: translateX(-20px)
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.nav-links li {
  opacity: 0;
  animation: fadeInDown 0.6s ease-out forwards;
}

.nav-links li:nth-child(1) {
  animation: delay: 0.2s;}
.nav-links li:nth-child(2) { animation-delay: 0.4s; }
.nav-links li:nth-child(3) { animation-delay: 0.6s; }
.nav-links li:nth-child(4) { animation-delay: 0.8s; }

