body{
    background-color: #0f172a;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    background-color: white;
    padding: 25px;
    border-radius: px;
    width: 350px;
    height: 500px;

}
input, select, textarea{
    width: 100%;
}
label {
    display: block;
    margin-top: 10px;
}
button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 5px;
}